<div class="screen">
    <div class="separator"><h1>Hello {{nickname}}!</h1></div>
        <form action="/changepass" method="post" class="form">    
            {{#if message}}
                <div class="warning">
                    <h3>
                        {{message}}
                    </h3>
                </div>
            {{/if}}
            <input class="input" type="password" name="oldpassword" placeholder="Old password..." required>
            <input class="input" type="password" name="password" placeholder="New password..." required>
            <input type="submit" value="Change your password" class="form-btn">
        </form>
    <div class="loginlinks">
        <a href="/logout">Logout</a>
        <a href="/about">Database</a>
    </div>  
</div>
