* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font: 100% Roboto, sans-serif;
  color: black; }

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  min-height: 100vh;
  background-color: gray; }

.screenform {
  display: block;
  float: center; }

.form {
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  align-items: center; }

.input {
  width: 100%;
  font-size: larger;
  padding-block: 0.3em;
  border: none;
  border-bottom: 2px solid gray;
  margin-block: 10px; }
  .input:focus {
    outline: 0;
    box-shadow: 0; }

.label-wrap {
  width: inherit; }

.form-btn {
  margin: 20px;
  margin-bottom: 25px;
  font-size: large;
  font-weight: lighter;
  border: none;
  background-color: #1565c0;
  padding: 15px;
  border-radius: 8px;
  color: white;
  width: 100%; }
  .form-btn:hover {
    background-color: #5e92f3;
    cursor: pointer; }
  .form-btn:focus {
    background-color: #003c8f; }

.separator {
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center; }

.loginlinks {
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex; }

.loginlinks a {
  margin-inline: 5px; }

.screen {
  min-width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  padding-bottom: 35px; }

.warning {
  width: inherit;
  padding: 15px;
  background-color: red;
  color: white;
  opacity: 0.5; }

ul {
  list-style: none; }

li {
  overflow: hidden; }

.dbitems {
  display: flex;
  flex-direction: column; }

.datacard {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 7.5px;
  margin-block: 5px; }

.datacard ul {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; }

@media screen and (max-width: 450px) {
  li {
    overflow: scroll; } }
